target/
presentation/
.vscode/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

config.h

# Created by https://www.gitignore.io/api/platformio
# Edit at https://www.gitignore.io/?templates=platformio

### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# End of https://www.gitignore.io/api/platformio